
<div class="container py-3">
  <div class="row gx-5">
    <div class="col">
      <div class="text-center bg-primary text-white">Pedidos</div>
      <div class="p-3 border bg-white">
        <div class="py-1">
          <div class="row">
            <div class="col-md-6">
              <form [formGroup]="form">
                <div class="form-group">
                  <label><strong>Informe o status abaixo para efetuar a busca</strong></label>
                  <select class="form-select" formControlName="statusOrder">
                    <option [value]="statusOrder.id" *ngFor="let statusOrder of lstStatusOrder">{{statusOrder.description}}
                    </option>
                  </select>
                </div>
                <!-- <div class="form-group">
                  <label><strong>Informe a data abaixo para efetuar a busca</strong></label>
                  <div class="input-group">
                    <input class="form-control" placeholder="dd/mm/yyyy" name="subscriptionDate" ngbDatepicker
                      #subscriptionDate="ngbDatepicker" formControlName="subscriptionDate" maxlength="10"
                      (keyup)="dateMask($event)">
                    <button class="btn btn-primary" (click)="subscriptionDate.toggle()" type="button">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-calendar ms-1" viewBox="0 0 16 16">
                        <path
                          d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                      </svg>
                    </button>
                  </div>
                  <div *ngIf="submitted && f.subscriptionDate.errors">
                    <p *ngIf="f.subscriptionDate.errors.required" class="text-danger small">* Informe a data inicial</p>
                  </div>
                </div>     -->
              <div class="form-group">
                <div class="input-group-append" id="button-addon4">
                  <button type="button" class="btn btn-primary d-inline-flex align-items-center mt-2" name="btnSearch"
                    (click)="onSubmit()"> Buscar
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-search ms-1" viewBox="0 0 16 16">
                      <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg> </button>
                </div>
              </div>
            </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>
                        Código
                      </th>
                      <th>
                        Data
                      </th>
                      <th>
                        Status do pedido
                      </th>
                      <th>
                        Ações
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let item of lst | slice: (page-1) * pageSize : page * pageSize'>
                      <td>{{ item.id }}</td>
                      <td>{{ item.requestDate | date: 'dd/MM/yyyy'}}</td>
                      <td>{{ getDelicatessenOrderStatus(item) }}</td>
                      <td>
                        <div class="d-flex actions">
                          <a class="ms-2" tabindex="-1" role="button" aria-disabled="true" title="visualizar"
                            (click)="onView(item)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                          </a>
                        </div>
                      </td>

                    </tr>
                  </tbody>
                </table>
                <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="lst.length"></ngb-pagination>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
