<nav class="navbar navbar-expand-lg bg-light border-bottom">
    <div class="container-fluid">
        <img class="img-fluid" width="100px" height="100px" role="button" src="../../assets/logo_emporio_jaua.jpg"
            alt="Image">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="page-emporio-jaua"><small>Home</small></a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="privacy-policy-emporio-jaua"><small>Política de
                            privacidade</small></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="service-terms-emporio-jaua"><small>Termos de
                            Serviço</small></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid py-3 p-md-5">

    <div class="col-lg-12">
        <h5 class="text-justify">
            Termos e condições gerais de uso do aplicativo
        </h5>
        <div class="text-justify">
            Os serviços do aplicativo são fornecidos pela pessoa jurídica com a seguinte Razão Social/nome: ADRIANA & DIELSON PIRES COMERCIO LTDA, com nome fantasia EMPORIO DE JAUA, inscrito no
            CNPJ/CPF sob o nº 50.875.516/0001-58, titular da propriedade intelectual sobre o 
            aplicativo, conteúdos e demais ativos relacionados.
        </div>
        <div class="text-justify">
            1. Do objeto
        </div>
        <div class="text-justify">
            O aplicativo visa licenciar o uso de demais ativos de propriedade
            intelectual, fornecendo ferramentas para auxiliar e dinamizar o dia a dia dos seus clientes.
        </div>
        <div class="text-justify">
            O aplicativo caracteriza-se pela prestação do seguinte serviço: delivery de comida e bebida on-line.
        </div>
        <div class="text-justify">
            O aplicativo realiza o pedido por meio eletrônico dos seguintes serviços: delivery de comida e bebida.
        </div>
        <div class="text-justify">
            2. Da aceitação
        </div>
        <div class="text-justify">
            O presente Termo estabelece obrigações contratadas de livre e espontânea vontade, por tempo indeterminado,
            entre o aplicativo e as pessoas físicas ou jurídicas, usuárias do aplicativo.
        </div>
        <div class="text-justify">
            Ao utilizar o aplicativo o usuário aceita integralmente as presentes normas e compromete-se a observá-las,
            sob o risco de aplicação das penalidades cabíveis.
        </div>
        <div class="text-justify">
            A aceitação do presente instrumento é imprescindível para o acesso e para a utilização de quaisquer serviços
            fornecidos pela empresa. Caso não concorde com as disposições deste instrumento, o usuário não deve
            utilizá-los.
        </div>
        <div class="text-justify">
            3. Do acesso dos usuários
        </div>
        <div class="text-justify">
            Serão utilizadas todas as soluções técnicas à disposição do responsável pelo aplicativo para permitir o
            acesso ao serviço 24 (vinte e quatro) horas por dia, 7 (sete) dias por semana. No entanto, a navegação no aplicativo ou em alguma de suas páginas poderá ser interrompida, limitada ou suspensa para atualizações,
            modificações ou qualquer ação necessária ao seu bom funcionamento.
        </div>
        <div class="text-justify">
            4. Do cadastro
        </div>
        <div class="text-justify">
            O acesso às funcionalidades do aplicativo exigirá a realização de um cadastro prévio e, a depender dos
             produtos escolhidos, o pagamento de determinado valor.

            Ao se cadastrar o usuário deverá informar dados completos, recentes e válidos, sendo de sua exclusiva
            responsabilidade manter referidos dados atualizados, bem como o usuário se compromete com a veracidade dos
            dados fornecidos.

            O usuário se compromete a não informar seus dados cadastrais e/ou de acesso à plataforma a terceiros,
            responsabilizando-se integralmente pelo uso que deles seja feito.

            Menores de 18 anos e aqueles que não possuírem plena capacidade civil deverão obter previamente o
            consentimento expresso de seus responsáveis legais para utilização da plataforma e dos serviços ou produtos,
            sendo de responsabilidade exclusiva dos mesmos o eventual acesso por menores de idade e por aqueles que não
            possuem plena capacidade civil sem a prévia autorização.

            Mediante a realização do cadastro o usuário declara e garante expressamente ser plenamente capaz, podendo
            exercer e usufruir livremente dos serviços e produtos.

            O usuário deverá fornecer um endereço de e-mail válido e localização, através do qual o site realizará todas as
            comunicações necessárias.
        </div>
        <div class="text-justify">
            Após a confirmação do cadastro, o usuário possuirá um login e uma senha pessoal, a qual assegura ao usuário
            o acesso individual à mesma. Desta forma, compete ao usuário exclusivamente a manutenção de referida senha
            de maneira confidencial e segura, evitando o acesso indevido às informações pessoais.

            Toda e qualquer atividade realizada com o uso da senha será de responsabilidade do usuário, que deverá
            informar prontamente a plataforma em caso de uso indevido da respectiva senha.

            Não será permitido ceder, vender, alugar ou transferir, de qualquer forma, a conta, que é pessoal e
            intransferível.

            Caberá ao usuário assegurar que o seu equipamento seja compatível com as características técnicas que
            viabilize a utilização do aplicativo e dos produtos.

            O usuário poderá, a qualquer tempo, requerer o cancelamento de seu cadastro junto ao aplicativo
            através do formulário de contato. O seu descadastramento será realizado o mais rapidamente possível, desde
            que não sejam verificadas pendências.

            O usuário, ao aceitar os Termos e Política de Privacidade, autoriza expressamente a plataforma a coletar,
            usar, armazenar, tratar, ceder ou utilizar as informações derivadas do uso dos serviços, do site e quaisquer
            plataformas, incluindo todas as informações preenchidas pelo usuário no momento em que realizar ou atualizar
            seu cadastro, além de outras expressamente descritas na Política de Privacidade que deverá ser autorizada
            pelo usuário.
        </div>
        <div class="text-justify">
            5. Dos produtos
        </div>
        <div class="text-justify">
            O aplicativo poderá disponibilizar para o usuário um conjunto específico de funcionalidades e ferramentas
            para otimizar o uso dos produtos.

            Na plataforma os produtos oferecidos estão descritos e apresentados com o maior grau de
            exatidão, contendo informações sobre suas características, qualidades, quantidades, composição, preço,
            garantia, prazos de validade e origem, entre outros dados, bem como sobre os riscos que apresentam à saúde e
            segurança do usuário.

            Antes de finalizar a compra sobre determinado serviço, o usuário deverá se informar sobre as suas
            especificações e sobre a sua destinação.
        </div>
        <div class="text-justify">
            6. Dos preços
        </div>
        <div class="text-justify">
            O aplicativo se reserva no direito de reajustar unilateralmente, a qualquer tempo, os valores dos produtos sem consulta ou anuência prévia do usuário.

            Os valores aplicados são aqueles que estão em vigor no momento do pedido.

            Durante a elaboração do pedido, o aplicativo poderá solicitar as informações financeiras do usuário, endereço e dados de cartões. Ao inserir referidos dados o usuário concorda que sejam
            cobrados, de acordo com a forma de pagamento que venha a ser escolhida, os preços então vigentes e
            informados quando do pedido. Referidos dados financeiros não serão armazenados para facilitar acessos e
            contratações futuras.
        </div>
        <div class="text-justify">
            7. Do cancelamento
        </div>
        <div class="text-justify">
            O usuário poderá cancelar o pedido de acordo com os termos que forem definidos no momento
            de sua solicitação. Ainda, o usuário também poderá cancelar o pedido de acordo com o Código de Defesa do
            Consumidor (Lei no. 8.078/90).
        </div>
        <div class="text-justify">
            O pedido poderá ser cancelado por:
        </div>
        <div class="text-justify">
            a. parte do usuário: nessas condições os pedidos somente cessarão quando concluído o ciclo vigente ao tempo
            do cancelamento;
        </div>
        <div class="text-justify">
            b. violação dos Termos de Uso: o pedido será cessado imediatamente.
        </div>
        <div class="text-justify">
            8. Do suporte
        </div>
        <div class="text-justify">
            Em caso de qualquer dúvida, sugestão ou problema com a utilização do aplicativo, o usuário poderá entrar em
            contato com o suporte, através do email emporiojaua@hotmail.com.
        </div>
        <div class="text-justify">
            9. Das responsabilidades
        </div>
        <div class="text-justify">
            É de responsabilidade do usuário:
        </div>
        <div class="text-justify">
            a. defeitos ou vícios técnicos originados no próprio sistema do usuário;
        </div>
        <div class="text-justify">
            b. a correta utilização do aplicativo, dos produtos oferecidos, prezando pela boa convivência,
            pelo respeito e cordialidade entre os usuários;
        </div>
        <div class="text-justify">
            c. pelo cumprimento e respeito ao conjunto de regras disposto nesse Termo de Condições Geral de Uso, na
            respectiva Política de Privacidade e na legislação nacional e internacional;
        </div>
        <div class="text-justify">
            d. pela proteção aos dados de acesso à sua conta/perfil (login e senha).
        </div>
        <div class="text-justify">
            É de responsabilidade do aplicativo:
        </div>
        <div class="text-justify">
            a. indicar as características do produto;
        </div>
        <div class="text-justify">
            b. os defeitos e vícios encontrados no produto oferecido desde que lhe tenha dado causa;
        </div>
        <div class="text-justify">
            c. as informações que foram por ele divulgadas, sendo que os comentários ou informações divulgadas por
            usuários são de inteira responsabilidade dos próprios usuários;
        </div>
        <div class="text-justify">
            d. os conteúdos ou atividades ilícitas praticadas através do aplicativo.
        </div>
        <div class="text-justify">
            Não poderão ser incluídos links externos ou páginas que sirvam para fins comerciais ou publicitários ou
            quaisquer informações ilícitas, violentas, polêmicas, pornográficas, xenofóbicas, discriminatórias ou
            ofensivas.
        </div>
        <div class="text-justify">
            10. Dos direitos autorais
        </div>
        <div class="text-justify">
            O presente Termo de Uso concede aos usuários uma licença não exclusiva, não transferível e não
            sublicenciável, para acessar e fazer uso do aplicativo e dos produtos por ele disponibilizados.

            A estrutura do aplicativo, as marcas, logotipos, nomes comerciais, layouts, gráficos e design de
            interface, imagens, ilustrações, fotografias, apresentações, vídeos, conteúdos escritos e de som e áudio,
            programas de computador, banco de dados, arquivos de transmissão e quaisquer outras informações e direitos
            de propriedade intelectual da razão social ADRIANA & DIELSON PIRES COMERCIO LTDA,
            observados os termos da Lei da Propriedade Industrial (Lei nº 9.279/96), Lei de Direitos Autorais (Lei nº
            9.610/98) e Lei do Software (Lei nº 9.609/98), estão devidamente reservados.

            Este Termos de Uso não cede ou transfere ao usuário qualquer direito, de modo que o acesso não gera qualquer
            direito de propriedade intelectual ao usuário, exceto pela licença limitada ora concedida.

            O uso da plataforma pelo usuário é pessoal, individual e intransferível, sendo vedado qualquer uso não
            autorizado, comercial ou não-comercial. Tais usos consistirão em violação dos direitos de propriedade
            intelectual da razão social ADRIANA & DIELSON PIRES COMERCIO LTDA, puníveis nos
            termos da legislação aplicável.
        </div>

        <div class="text-justify">
            11. Das sanções
        </div>
        <div class="text-justify">
            Sem prejuízo das demais medidas legais cabíveis, a razão social ADRIANA & DIELSON PIRES COMERCIO LTDA poderá, a qualquer momento, advertir, suspender ou cancelar a conta do usuário:
        </div>
        <div class="text-justify">
            a. que violar qualquer dispositivo do presente Termo;
        </div>
        <div class="text-justify">
            b. que descumprir os seus deveres de usuário;
        </div>
        <div class="text-justify">
            c. que tiver qualquer comportamento fraudulento, doloso ou que ofenda a terceiros.
        </div>
        <div class="text-justify">
            12. Da rescisão
        </div>
        <div class="text-justify">
            A não observância das obrigações pactuadas neste Termo de Uso ou da legislação aplicável poderá, sem prévio
            aviso, ensejar a imediata rescisão unilateral por parte da razão social ADRIANA & DIELSON PIRES COMERCIO LTDA e o bloqueio de todos os serviços prestados ao usuário.
        </div>
        <div class="text-justify">
            13. Das alterações
        </div>
        <div class="text-justify">
            Os itens descritos no presente instrumento poderão sofrer alterações, unilateralmente e a qualquer tempo,
            por parte da ADRIANA & DIELSON PIRES COMERCIO LTDA, para adequar ou modificar os
            serviços, bem como para atender novas exigências legais. As alterações serão veiculadas OU pelo aplicativo parceiro e o usuário poderá optar por aceitar o novo conteúdo ou por cancelar o uso dos serviços,
            caso seja assinante de algum serviço.

            Os serviços oferecidos podem, a qualquer tempo e unilateralmente, e sem qualquer aviso prévio, ser deixados
            de fornecer, alterados em suas características, bem como restringido para o uso ou acesso.
        </div>
        <div class="text-justify">
            14. Da política de privacidade
        </div>
        <div class="text-justify">
            Além do presente Termo, o usuário deverá consentir com as disposições contidas na respectiva Política de
            Privacidade a ser apresentada a todos os interessados dentro da interface da plataforma.
        </div>
        <div class="text-justify">
            15. Do foro
        </div>
        <div class="text-justify">
            Para a solução de controvérsias decorrentes do presente instrumento será aplicado integralmente o Direito
            brasileiro.

            Os eventuais litígios deverão ser apresentados no foro da comarca em que se encontra a sede da empresa.

        </div>
    </div>
</div>